@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index';

body {
  margin: 0;
  background: #C3C3C3;
}
.container {
  background: #FFF;
  padding: 10px;
}

.list-group-item {
  &:hover {
    background: #CCC;
  }
}
